<div class="cont">
  <div class="border">
    <div class="upperline"></div>
    <div class="side-cont">

      <%= button_to "Калькулятор возраста", calc_path, :class => "button", :method => :get %>
      <%= button_to "Лето", say_photo1_path, :class => "button", :method => :get %>
      <%= button_to "Лето", say_photo1_path, :class => "button", :method => :get %>
      <%= button_to "Лето", say_photo1_path, :class => "button", :method => :get %>
    </div>

  </div>

</div>